In [1]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings(action='ignore')

In [2]:
df = pd.read_csv('data/Not_clean_data.csv', index_col = 0)
df.head(3)

,size,price,date,product,release_date,color,release_price
0,235(4.5Y),"250,000원",21/09/11,(GS) Nike Dunk Low Championship Grey,21/09/02,WOLFGREY/DARKOBSIDIAN-TOTALORANGE,"$85(약100,800원)"
1,235(5Y·W),"250,000원",21/09/12,(GS) Nike Dunk Low Championship Grey,21/09/02,WOLFGREY/DARKOBSIDIAN-TOTALORANGE,"$85(약100,800원)"
2,240(6Y·W),"280,000원",21/09/18,(GS) Nike Dunk Low Championship Grey,21/09/02,WOLFGREY/DARKOBSIDIAN-TOTALORANGE,"$85(약100,800원)"

In [3]:
df.shape

(145554, 7)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 145554 entries, 0 to 1482
Data columns (total 7 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   size           145554 non-null  object
 1   price          145554 non-null  object
 2   date           145554 non-null  object
 3   product        145554 non-null  object
 4   release_date   145554 non-null  object
 5   color          145554 non-null  object
 6   release_price  145554 non-null  object
dtypes: object(7)
memory usage: 8.9+ MB

In [5]:
# null 값 보기 
tot = df.isnull().sum().sort_values(ascending=False)
pct = (df.isnull().sum()/df.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([tot, pct], axis=1, keys=['Total', 'Percent'])
missing_data

               Total  Percent
size               0      0.0
price              0      0.0
date               0      0.0
product            0      0.0
release_date       0      0.0
color              0      0.0
release_price      0      0.0

###  Preprocessing

In [6]:
# size 컬럼에서 사이즈만 추출  

def size (x) :
    return str(x)[:3]

df['size'] = df["size"].apply(size)

In [7]:
df['size'] = df['size'].apply(int)

In [8]:
# price 컬럼  " , " 과 " 원 " 제거 

import re

def extract_num (num_str) :
    if type(num_str) == str :
        num_str = re.sub('[^0-9]','',num_str)
    return num_str

df['price'] = df['price'].apply(extract_num)
df.head()

,size,price,date,product,release_date,color,release_price
0,235,250000,21/09/11,(GS) Nike Dunk Low Championship Grey,21/09/02,WOLFGREY/DARKOBSIDIAN-TOTALORANGE,"$85(약100,800원)"
1,235,250000,21/09/12,(GS) Nike Dunk Low Championship Grey,21/09/02,WOLFGREY/DARKOBSIDIAN-TOTALORANGE,"$85(약100,800원)"
2,240,280000,21/09/18,(GS) Nike Dunk Low Championship Grey,21/09/02,WOLFGREY/DARKOBSIDIAN-TOTALORANGE,"$85(약100,800원)"
3,235,260000,21/09/19,(GS) Nike Dunk Low Championship Grey,21/09/02,WOLFGREY/DARKOBSIDIAN-TOTALORANGE,"$85(약100,800원)"
4,240,240000,21/09/19,(GS) Nike Dunk Low Championship Grey,21/09/02,WOLFGREY/DARKOBSIDIAN-TOTALORANGE,"$85(약100,800원)"

In [9]:
df['price'] = df['price'].apply(int)

In [10]:
# "통화기호 , 한글제거 ""

def NotWon(x):
    if '약' in x:
        r = x.find('약')
        return x[r+1:-2]
    else:
        return x[:-1]

df['release_price'] = df['release_price'].apply(NotWon)

In [11]:
# 가격누락된 컬럼 값 추가 (재확인 필요)
df.loc[df['release_price'] == '', 'release_price']  = '115,000'

In [12]:
# 특수문자 제거 
df['release_price'] = df['release_price'].apply(extract_num)
df.head()

,size,price,date,product,release_date,color,release_price
0,235,250000,21/09/11,(GS) Nike Dunk Low Championship Grey,21/09/02,WOLFGREY/DARKOBSIDIAN-TOTALORANGE,100800
1,235,250000,21/09/12,(GS) Nike Dunk Low Championship Grey,21/09/02,WOLFGREY/DARKOBSIDIAN-TOTALORANGE,100800
2,240,280000,21/09/18,(GS) Nike Dunk Low Championship Grey,21/09/02,WOLFGREY/DARKOBSIDIAN-TOTALORANGE,100800
3,235,260000,21/09/19,(GS) Nike Dunk Low Championship Grey,21/09/02,WOLFGREY/DARKOBSIDIAN-TOTALORANGE,100800
4,240,240000,21/09/19,(GS) Nike Dunk Low Championship Grey,21/09/02,WOLFGREY/DARKOBSIDIAN-TOTALORANGE,100800

In [13]:
df['release_price'] = df['release_price'].apply(int)

In [14]:
# date , release_date 컬럼 변경 

df['date'] = df["date"].str.replace('/','-')
df['release_date'] = df['release_date'].str.replace('/','-')

In [15]:
# yyyy -mm-dd 형식으로 변환 
df['date'] = pd.to_datetime(df['date'], format='%y-%m-%d')

In [16]:
#release_date 누락된 값 추가 
df.loc[df['release_date'] == '-', 'release_date']  = '21-07-22'

In [17]:
# yyyy -mm-dd 형식으로 변환 
df['release_date'] = pd.to_datetime(df['release_date'], format='%y-%m-%d')

In [18]:
df.head()

,size,price,date,product,release_date,color,release_price
0,235,250000,2021-09-11,(GS) Nike Dunk Low Championship Grey,2021-09-02,WOLFGREY/DARKOBSIDIAN-TOTALORANGE,100800
1,235,250000,2021-09-12,(GS) Nike Dunk Low Championship Grey,2021-09-02,WOLFGREY/DARKOBSIDIAN-TOTALORANGE,100800
2,240,280000,2021-09-18,(GS) Nike Dunk Low Championship Grey,2021-09-02,WOLFGREY/DARKOBSIDIAN-TOTALORANGE,100800
3,235,260000,2021-09-19,(GS) Nike Dunk Low Championship Grey,2021-09-02,WOLFGREY/DARKOBSIDIAN-TOTALORANGE,100800
4,240,240000,2021-09-19,(GS) Nike Dunk Low Championship Grey,2021-09-02,WOLFGREY/DARKOBSIDIAN-TOTALORANGE,100800

In [19]:
# # 향후 모델링을 고려해 날짜 형식을 Unix 형식으로 변환 

# import datetime as dt

# df['date'] = df['date'].map(dt.datetime.toordinal)
# df['release_date'] = df['release_date'].map(dt.datetime.toordinal)

In [20]:
df.head()

,size,price,date,product,release_date,color,release_price
0,235,250000,2021-09-11,(GS) Nike Dunk Low Championship Grey,2021-09-02,WOLFGREY/DARKOBSIDIAN-TOTALORANGE,100800
1,235,250000,2021-09-12,(GS) Nike Dunk Low Championship Grey,2021-09-02,WOLFGREY/DARKOBSIDIAN-TOTALORANGE,100800
2,240,280000,2021-09-18,(GS) Nike Dunk Low Championship Grey,2021-09-02,WOLFGREY/DARKOBSIDIAN-TOTALORANGE,100800
3,235,260000,2021-09-19,(GS) Nike Dunk Low Championship Grey,2021-09-02,WOLFGREY/DARKOBSIDIAN-TOTALORANGE,100800
4,240,240000,2021-09-19,(GS) Nike Dunk Low Championship Grey,2021-09-02,WOLFGREY/DARKOBSIDIAN-TOTALORANGE,100800

In [21]:
products = pd.read_csv('data/products.csv')

In [22]:
products.drop('Unnamed: 0', axis=1, inplace=True)

In [23]:
print(products.shape)
products.head()

(360, 5)

                                     product  number transactions  wish review
0                  Nike Dunk Low Retro Black   28029         8.9만  5.1만  7,680
1                    (W) Nike Dunk Low Black   28030         4.5만  3.7만  2,882
2               (W) Nike Dunk Low Light Bone   41637        9,898  2.1만    306
3               Nike Dunk Low Retro Grey Fog   41193        3,239  1.5만     77
4  (W) Nike Dunk Low Essential Black Paisley   43374           62   955      9

In [24]:
products['review'] = products['review'].apply(extract_num).apply(int)

In [25]:
float(products['wish'][0][:-1])

5.1

In [26]:
def number_transform(x):
    if '만' in x:
        return float(x[:-1])*10000
    else:
        return x

In [27]:
products['wish'] = products['wish'].apply(number_transform)

In [28]:
products['wish'] = products['wish'].apply(extract_num).apply(int)

In [29]:
dataset = pd.merge(df, products, how='left', on='product')
print(df.shape)
dataset.head()

(145554, 7)

,size,price,date,product,release_date,color,release_price,number,transactions,wish,review
0,235,250000,2021-09-11,(GS) Nike Dunk Low Championship Grey,2021-09-02,WOLFGREY/DARKOBSIDIAN-TOTALORANGE,100800,43208.0,297,2766.0,8.0
1,235,250000,2021-09-12,(GS) Nike Dunk Low Championship Grey,2021-09-02,WOLFGREY/DARKOBSIDIAN-TOTALORANGE,100800,43208.0,297,2766.0,8.0
2,240,280000,2021-09-18,(GS) Nike Dunk Low Championship Grey,2021-09-02,WOLFGREY/DARKOBSIDIAN-TOTALORANGE,100800,43208.0,297,2766.0,8.0
3,235,260000,2021-09-19,(GS) Nike Dunk Low Championship Grey,2021-09-02,WOLFGREY/DARKOBSIDIAN-TOTALORANGE,100800,43208.0,297,2766.0,8.0
4,240,240000,2021-09-19,(GS) Nike Dunk Low Championship Grey,2021-09-02,WOLFGREY/DARKOBSIDIAN-TOTALORANGE,100800,43208.0,297,2766.0,8.0

In [30]:
transactions = dataset['product'].value_counts()

In [31]:
transactions = pd.DataFrame({'product':transactions.index , 'transactions':transactions.values})

In [32]:
dataset.drop('transactions', axis=1, inplace=True)

In [33]:
dataset = pd.merge(dataset, transactions, how='left', on='product')

In [34]:
dataset

,size,price,date,product,release_date,color,release_price,number,wish,review,transactions
0,235,250000,2021-09-11,(GS) Nike Dunk Low Championship Grey,2021-09-02,WOLFGREY/DARKOBSIDIAN-TOTALORANGE,100800,43208.0,2766.0,8.0,297
1,235,250000,2021-09-12,(GS) Nike Dunk Low Championship Grey,2021-09-02,WOLFGREY/DARKOBSIDIAN-TOTALORANGE,100800,43208.0,2766.0,8.0,297
2,240,280000,2021-09-18,(GS) Nike Dunk Low Championship Grey,2021-09-02,WOLFGREY/DARKOBSIDIAN-TOTALORANGE,100800,43208.0,2766.0,8.0,297
3,235,260000,2021-09-19,(GS) Nike Dunk Low Championship Grey,2021-09-02,WOLFGREY/DARKOBSIDIAN-TOTALORANGE,100800,43208.0,2766.0,8.0,297
4,240,240000,2021-09-19,(GS) Nike Dunk Low Championship Grey,2021-09-02,WOLFGREY/DARKOBSIDIAN-TOTALORANGE,100800,43208.0,2766.0,8.0,297
...,...,...,...,...,...,...,...,...,...,...,...
145549,290,280000,2020-12-17,Nike SB Dunk Low Wheat,2017-05-26,DUNE/TWIG-WHEAT-GUMMEDIUMBROWN,118600,10652.0,122.0,5.0,7
145550,270,356000,2020-12-31,Nike SB Dunk Low Wheat,2017-05-26,DUNE/TWIG-WHEAT-GUMMEDIUMBROWN,118600,10652.0,122.0,5.0,7
145551,260,299000,2021-01-23,Nike SB Dunk Low Wheat,2017-05-26,DUNE/TWIG-WHEAT-GUMMEDIUMBROWN,118600,10652.0,122.0,5.0,7
145552,265,369000,2021-01-23,Nike SB Dunk Low Wheat,2017-05-26,DUNE/TWIG-WHEAT-GUMMEDIUMBROWN,118600,10652.0,122.0,5.0,7
145553,240,599000,2021-11-08,(GS) Nike Dunk Low Ueno Panda,2015-03-26,WHITE/BLACK,118600,24252.0,45.0,0.0,1

In [35]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 145554 entries, 0 to 145553
Data columns (total 11 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   size           145554 non-null  int64
 1   price          145554 non-null  int64
 2   date           145554 non-null  datetime64[ns]
 3   product        145554 non-null  object
 4   release_date   145554 non-null  datetime64[ns]
 5   color          145554 non-null  object
 6   release_price  145554 non-null  int64
 7   number         145553 non-null  float64
 8   wish           145553 non-null  float64
 9   review         145553 non-null  float64
 10  transactions   145554 non-null  int64
dtypes: datetime64[ns](2), float64(3), int64(4), object(2)
memory usage: 13.3+ MB

In [36]:
dataset = dataset.reset_index(drop=True)

In [37]:
# csv 파일로 저장 

dataset.to_csv('data/clean_data.csv')